/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}


#skrollr-body {
    width: 100%;
}

.skrollable {
    position: fixed;
    z-index: 100;
}

p {
    font-family: "Open Sans";
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
}

h1,h2,h3,h4 {
    font-family: "Share Tech";
    font-style: normal;
    color: #E5696C;
}

.badge-g4l {
    text-align: center;
    width: 50px;
    height: 50px;
    background-color: #E5696C;
    color: #ffffff;
    font-family: "Share Tech";
    font-style: normal;
    font-size: 37px;
    display: inline-block;
}


/* Carousel base class */
.headline {
    height: 400px;
    width: 100%;
    color: #FFF;
    background: url('../img/headline.jpg') #363f48 no-repeat 50% 30%;
    position: relative;
    /*background-size: 100%;*/
    padding: 200px 40px 200px 80px;

}

.headline .text {
    margin-top: -120px;
}

.lead {
    color: #000000;
}

.headline .logo {
    margin-left: 20px;
    margin-bottom: 30px;
}


.content {
    padding: 40px inherit;
}


.context {
    width: 100%;
    color: #FFF;
    padding: 200px 80px;
    height: 450px;
    position: relative;
}

.context-1 {
    background: url('../img/context-1.jpg') #363f48 fixed no-repeat 50% 0;
}

.context-2 {
    background: url('../img/context-2.jpg') #363f48 fixed no-repeat 50% 0;
}

.context-3 {
    background: url('../img/context-3.jpg') #363f48 fixed no-repeat 50% 0;
}

.enjoy {
    font-family: "Open Sans Condensed";
    font-weight: 300;
    font-style: normal;
    padding: inherit 20px;
    color: #E5696C;
}

.enjoy h1 {
    font-size: 45px;
}

.enjoy .app-container {
    margin-left: 6%;
}

.enjoy .app {
    width: 100%;
    margin-top: -210px;
    z-index: 9999;
}

.enjoy .icon {
    padding-top: 40px;
}

.how-to {

}

.how-to h3 {
    display: inline-block;
    text-transform: uppercase;
    padding-left: 4px;
}

.how-to .title h1 {
    padding-bottom: 30px;
    font-size: 45px;
}

.how-to img {
    display: inline-block;
    margin-bottom: 60px;
    padding-left: 1px;
}

.how-to img.ticket {
    margin-bottom: 46px;
}

/* Center align the text within the three columns below the carousel */
.how-to .step {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  margin-bottom: 20px;
}
.how-to h2 {
  font-weight: normal;
}
.how-to .step p {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: -40px;
}


.services {
    padding-right: 0px;
    padding-left: 0px;
}

.services h3 {
    font-size: 20px;
    width: 98px;
    text-align: right;
    vertical-align: top;
    display: inline-block;
    margin-right: 0px;
}

.services img {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-top: 14px;
    margin-right: 2px;
}

.service {
    width: 47%;
    display: inline-block;
    text-align: center;
}

.services-footer {
    padding-top: 30px;
}

.contact h1 {
    font-size: 37px;
}

.mail {
    font-family: "Share Tech";
    font-style: normal;
    text-align: center;
    color: #E5696C;
    font-size: 3vw;
}

.mail a:link, .mail a:visited, .mail a:hover, .mail a:active {
    text-decoration:none;
    color: #E5696C;
}

.apple-badge {
    margin-top: -1px;
    width: 130px;
    display: inline-block;
    margin-right: 15px;
}

.links {
    z-index: 9999999;
    padding-right: 30px;
}

.more-info {
    font-family: Open Sans;
    color: #fff;
    border: 1px solid #FFF;
    padding: 9px;
    border-radius: 9%;
}

a.more-info:link, a.more-info:visited, a.more-info:hover, a.more-info:active {
    text-decoration:none;
    color: #FFF;
}

.contact .logo {

}

.logos {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.footer {
    padding-top: 40px;
}

.footer-img {
    padding-left: 0px;
}

.footer-img img {
    width: 100%;

}

.encourage {
    font-size: 23px;
}
